@import "../../../styles/variables";

.SideBarFilter {
    width: 400px;
    min-width: 280px;
    padding: 20px;

    .TopContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        font-size: 15px;
        font-weight: 600;
        color: #333;

        .TextReset {
            font-weight: 700;
            color: $primary;
            position: relative;
            transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;

            &:hover {
                color: darken($primary, 10%);

                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background: currentColor;
                transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }

    
}