.benefitContent {
    padding: 10px;
    background-color: rgb(233, 232, 232);
    display: flex;
    flex-direction: column;

    .textCondition {
        font-size: 15px;
        font-weight: 700;
        padding: 10px 0;
    }
    .formBenefit {
        display: inline-flex;
        flex-direction: column;
        padding: 10px 20px;
        background-color: white;
    }
}