@import "tailwindcss";

#root {
  padding: 0 !important;
  margin: 0 !important;
}

.custom-popper-left {
  transform: translateX(-50%) !important;
}

.custom-popper-right {
  transform: translateX(0%) !important;
}

